<div class="container">
    <div class="jumbotron">
        <div class="about-container">
            <h1>チケット管理システム</h1>
            <p>新規登録はこちらから</p>
            <%= link_to("新規登録", "/signup", {class: 'btn btn-primary'},) %>
            <p>ログインはこちらから</p>
            <%= link_to("ログイン", "/login", {class: 'btn btn-primary'},) %>
        </div>
    </div>
</div>
