<div class="container">
    <div class="page-header">
        <h3>MyPage</h3>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>チケットID</th>
                <th>請求日</th>
                <th>状態</th>
                <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td>2020/09/01</td>
                <td>配布済</td>
                <td><button type="submit" class="btn btn-danger">取消</button></td>
                </tr>
                <tr>
                <td>2</td>
                <td>2020/09/01</td>
                <td>承認済</td>
                <td></td>
                </tr>
                <tr>
                <td>3</td>
                <td>2020/09/03</td>
                <td>請求済?承認待ち?</td>
                <td><button type="submit" class="btn btn-primary">配布済</button></td>
                </tr>
            </tbody>
        </table>

        <% ticket1 = "配布済✨" %>
        <% ticket2 = "承認済🌟" %>


        <table class="table table-striped">
            <thead>
              <tr>
                <th>チケットID</th>
                <th>請求日</th>
                <th>状態</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2020/09/01</td>
                <td><%= ticket1 %></td>
                <td><button type="submit" class="btn btn-danger">取消</button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>2020/09/01</td>
                <td><%= ticket2 %></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>2020/09/03</td>
                <td>請求済?承認待ち?</td>
                <td><button type="submit" class="btn btn-primary">配布済</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    
    <button type="submit" class="btn btn-primary button">請求する</button>


</div>

