<div class="container">
    <div class="page-header">
        <h3>チケットを請求する</h3>
    </div>
    <div class="ticket-number">
        <label class="control-label">請求するチケット枚数</label>
        <%= form_tag("/tickets/create") do %>
            <select class="form-control">
                <option value="1">1枚</option>
                <option value="2">2枚</option>
                <option value="3">3枚</option>
                <option value="4">4枚</option>
                <option value="5">5枚</option>
            </select>
            <button type="submit" class="btn btn-primary button">請求する</button>
        <% end %>
    </div>
</div>