// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme-showcase .navbar .container {
    width: auto;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
  }