// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .container {
    width: auto;
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.jumbotron {
    background-color: #e2d1ca !important;
}

.jumbotron span {
    font-size: 2em;
}

.jubotron-container {
    margin: auto;
    width: 700px;
}

.my-gray {
    color: gray;
}

.my-pink {
    color: #E694A2;
}

.zaseki-container {
    box-shadow: 0 3px 5px gray;
    border-radius: 10px;
    height: 400px;
    width: 700px;
    margin: auto;
    position: relative;
    padding: 25px 65px;
}

.full-chair {
    filter: invert(70%) sepia(45%) saturate(400%) hue-rotate(305deg) brightness(106%) contrast(100%);
    // background:linear-gradient(#F89174, #FFC778);
    height: 70px;
}

.empty-chair {
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
    // background:linear-gradient(#F89174, #FFC778);
    height: 70px;
}

.zaseki-percent {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 200px;
    background : rgba(255, 255, 255, 0.50); 
    border-radius: 5px;
    text-align: center;
}

.zaseki-population {
    width: 300px;
    height: 160px;
    position: absolute;
    top: 200px;
    left: 200px;
    background : rgba(255, 255, 255, 0.50); 
    border-radius: 5px;
    text-align: center;
}

.zaseki-container h1 {
    font-size: 9em;
}

.zaseki-container span {
    font-size: 0.4em;
}

.about-container {
    width: 700px;
    margin: auto;
    text-align: center;
}

.about-container p {
   margin: 40px 0px 0px 0px;
}