// Place all the styles related to the ticket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket-number {
    width: 400px;
    margin: auto;
}

.ticket-number label {
    margin: 20px 0px 0px 0px;
}

.ticket-number .button {
    margin: 30px 20px 0px 150px;
}